<div class="mobile-sidenav">
        <a class="links un-float" onclick="sideNav(2);"><i class="fas fa-bars"></i></a>
        <a class="links un-float" href="../index.html">首页</a>
        <a class="links un-float" href="#!">课程</a>
        
            <a class="links un-float indented" href="../pages/opus-communication-arts.html">沟通艺术课程</a>
            <a class="links un-float indented" href="../pages/mcgraw-hill-education-courses.html">McGraw Hill教育课程</a>
            <a class="links un-float indented" href="../pages/academic-enrichment.html">学科优化辅导</a>
            <a class="links un-float indented" href="../pages/opus-test-preparation.html">标准化考试应试准备课程</a>
            <a class="links un-float indented" href="../pages/opus-early-learning.html">学龄前教育</a>
            <a class="links un-float indented" href="../pages/opus-classical-music.html">钢琴乐理课程</a>
        
        <a class="links un-float" href="../pages/admission-counselling.html">名校申请规划</a>
        <a class="links un-float" href="../pages/opus-summer-camps.html">Opus学院夏令营</a>
        <a class="links un-float" href="#!">斯坦福大学夏令营</a>
        <a class="links un-float" href="../pages/philippine-applicant.html">菲律宾申请者</a>
        <a class="links un-float" href="../pages/canadian-applicant.html">加拿大申请者</a>
        <a class="links un-float" href="../pages/testimonials-and-gallery.html">学生/家长感言及影像</a>

        
        <a class="links un-float" href="../pages/testimonials.html">家长/学生感言</a>
        <a class="links un-float" href="../pages/about-us.html">关于我们&emsp;<i class="fas fa-chevron-down"></i></a>
        <a class="links un-float indented" href="../pages/history-and-our-team.html">我们的历程及团队</a>
        <a class="links un-float indented" href="../pages/careers.html">工作机会</a>
        <a class="links un-float indented" href="../pages/contact-us.html">联系我们</a>

    </div>
    
    <div class="header-meta">
        <div class="nav-wrapper">
            <a class="links language-link" href="../../../index.html">English</a>
        </div>
    </div>
    <div class="navbar" id="pc">
        <div class="nav-wrapper">
            <img src="../image/logo.jpg" class="nav-logo"/>
            <a class="links" href="../pages/contact-us.html">联系我们</a>
            
            <a class="links" href="../pages/testimonials.html">家长/学生感言</a>
            <div class="links dropdown">
                <a class="link" href="../pages/about-us.html">关于我们&emsp;<i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a class="link" href="../pages/about-us.html">关于我们</a>
                    <a class="link" href="../pages/history-and-our-team.html">我们的历程及团队</a>
                    <a class="link" href="../pages/careers.html">工作机会</a>
                </div>
            </div>
            <div class="links dropdown">
                <a class="link" href="#!">暑期课程&emsp;<i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a class="link" href="../pages/opus-summer-camps.html">Opus学院夏令营</a>
                    <a class="link" href="#!">斯坦福大学夏令营</a>
                    <a class="link indented" href="../pages/philippine-applicant.html">菲律宾申请者</a>
                    <a class="link indented" href="../pages/canadian-applicant.html">加拿大申请者</a>
                </div>
            </div>
            <a class="links" href="../pages/admission-counselling.html">名校申请规划</a>
            <div class="links dropdown">
                <a class="link" href="#!">课程&emsp;<i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a class="link" href="../pages/opus-communication-arts.html">沟通艺术课程</a>
                    <a class="link" href="../pages/mcgraw-hill-education-courses.html">McGraw Hill教育课程</a>
                    <a class="link" href="../pages/academic-enrichment.html">学科优化辅导</a>
                    <a class="link" href="../pages/opus-test-preparation.html">标准化考试应试准备课程</a>
                    <a class="link" href="../pages/opus-early-learning.html">学龄前教育</a>
                    <a class="link" href="../pages/opus-classical-music.html">钢琴乐理课程</a>
                </div>
            </div>
            <a class="links" href="../index.html">首页</a>
        </div>
    </div>
    <div class="navbar" id="mobile">
        <div class="nav-wrapper">
            <img src="../image/logo.jpg" class="nav-logo"/>
            <a class="links" onclick="sideNav(1);"><i class="fas fa-bars"></i></a>
        </div>
    </div>