html, body {
    padding: 0;
    margin: 0;
    /* font-family: 'Libre Franklin', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: 0.3s;
}
p {
    font-size: 14px;
    font-weight: 500;
}
a { text-decoration: none;}
a > button {
    margin-bottom: 8px;
}
.bold {
    text-transform: uppercase;
    font-weight: 600;
}
.far:hover, .fa:hover, .fas:hover, .fab:hover {
    transition: 0.3s;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    margin: 25px 0;
}

html::-moz-scrollbar { display: none; }
html::-webkit-scrollbar { display: none; }
.title {
    font-size: 20px /* 15px */;
    color: #ffffff;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
}
.text-lg {
    font-size: 20px;
    font-weight: 800;
}
.page-wrapper {
    display: block;
    position: relative;
    width: 1100px;
    margin: 0 auto;
}
span.padded {
    padding: 2px !important;
}
.full-width {
    position: relative;
    display: block;
    width: 100%;
}
.centered {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    padding: 15px;
    color: white;
    }
    .rounded {border-radius: 50%;}
    .button > .arr {padding-left: 15px;}
    .button:hover {
        transition: 0.3s;
        background: #2d2d2d;
        color: #f2f2f2;
    }
.row {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
    opacity: 1;
    }
    .row::after, #floated::after {
        content: "";
        display: table;
        clear: both;}
        .row-top {padding-top: 20px;}
    .row-fix {
        padding-top: 0;
        top: -40px;
        padding-bottom: 0;}
        .padded {
            padding: 15px;
        }
        .padded > p {
            font-size: 12px;
        }
    .row:first-of-type {
        padding-top: 50px;
    }
.b-row-head {
    width: 25%; 
    padding: 20px 20px 10px 20px; 
    font-weight: 500; 
    text-transform: uppercase; 
    font-size: 15px;
}
.headline {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.flex {
    display: block;
    position: relative;

    width: 100%;}
.four-col {
    display: block;
    position: relative;width: 23%;
    margin: 20px 1%;
    float: left;
}

.three-col {
    display: block;
    position: relative;width: 31%;
    margin: 20px 1.15%;
    float: left;
}

.two-col {
    display: block;
    position: relative;width: 47.7%;
    margin: 20px 1.15%;
    float: left;}
    .two-col > img {
        display: block;
        margin: 25px auto;
    }
.b-blue {
    
    background: #017cc2;
}
.c-blue {color: #017cc2;font-weight: 800;}
.c-black {color: #474545;}
.c-white {color: #ffffff;}

.b-black {background: #2d2d2d;}
.b-white {background: #ffffff;}
.b-orange{background: #f26622;}
.b-yellow{background: #f7b900;}
.b-gray{background: #f2f2f2; }
.no-margin{margin: 0;}
.margin-auto {
    display: block;
    margin: auto;
}
.margin-top {
    margin-top: 20px;
}
.bordered {
    border: 1px solid #414345;
    border-radius: 5px;
}
.outlined {
    background: transparent;
    border: 2px solid white;
}

.highlight { padding-top: 15px; padding-bottom: 15px;}
.align-right {text-align: right;}
.align-left {text-align: left;}
.align-center {text-align: center;}
.justify, .justify-full {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 5em;
}
.justify-full {
    text-indent: 0;
}
.float-l { float: left;}
.float-r { float: right;}
.un-float { float: none !important;}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

.image-pop {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 10%;}
    .image-pop > img {
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
    }

.centered-tagline {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: center;
    color: white;
}
.margined {
    margin-bottom: 15px;}
    .margined ~ * {
        margin-bottom: 8px;
    }
.spacer {
    width: 100%;
    height: 5vh;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;}
    .gallery-item-two, .gallery-item-four {
        padding: 0 4px;}
    .gallery-item-four {
        flex: 25%;
        max-width: 25%;}
    .gallery-item-two {
        flex: 50%;
        max-width: 50%;}
        .gallery-item-two img, .gallery-item-four img, .gallery img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            transition: 0.3s;}
            .gallery-item-two img:hover, 
            .gallery-item-four img:hover, 
            .gallery img:hover {
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
                transition: 0.3s;
            }
        .gallery-item-two div, .gallery-item-four div, .gallery div {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
            transition: 0.3s;}

/* first page */
.main-banner {
    position: relative;
    display: block;
    width: 100%;
    height: 70vh;
    
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/main.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.tagline-wrapper {
    position: absolute;
    display: block;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.tagline {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px /* 25 */;
    color: white;
}
.about-card {
    height: 300px;
    margin-bottom: 40px;
}
.about { 
    margin-top: -90px;
    }
    .about-child-half {
        position: relative;
        display: block;
        height: 100%;
        background: rgba(1, 124, 194, 0.7);
        transition: 0.3s;
        width: 60%; text-align: center;}
        .about-child-half:hover {
            width: 100%;
            transition: 0.3s;
            background: rgba(1, 124, 194, 0.8);
        }
    .about-child {
        position: relative;
        display: block;
        width: 100%;
        height: 70%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;}
        .debate {
            background-image: 
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url(../image/debate.jpg);}
        .camp {
            background-image: 
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url(../image/camp.jpg);}
        .counsel {
            background-image: 
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url(../image/counsel.jpg);}


.welcome {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
}
.description {
    border-top: 5px solid #474545;
    padding-top: 15px;
}

.card {
    background: #f2f2f2; 
    padding-bottom: 20px;
}
.card > p { width: 80%; margin: 15px auto; height: 50px; overflow: hidden;}
.card > button, .card > a { margin-left: 10%; margin-bottom: 15px;}
.card-description {
    overflow: hidden;
    height: 110px;
    max-height: 110px;
    min-height: 110px;
    
}
.card-image, .card-image-reusable {width: 100%; height: 15%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;}
    .card-image-reusable {
        height: 120px;
    }
    .speech {
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/speech.jpg);}
    .speak {
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/speak.jpg);}
    .admit {
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/admit.jpg);}
    .enrich {
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/enrich.jpg);}
    .standard {
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/test.jpg);}
    .early {background-position: center;
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/early.jpg);}
    .math {background-position: top;
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/math.jpg);}
    .math-b {background-position: top;
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/math-b.jpg);}
    .language {background-position: top;
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/language.jpg);}
        
    .private-sm {background-position: top;
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/private.jpg);}
    
    .university {background-position: center;
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/university.jpg);}
    
    .graduate {background-position: center;
        background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../image/graduate.jpg);}

.card-two-col {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background:#f2f2f2;
    padding-bottom: 15px;}
    .card-two-col > p, .card-two-col > a {
        display: block;
        width: 80%;
        margin: 15px auto;
    }



.video-banner {
    display: block;
    position: relative;
    width: 97.7%;
    margin: 20px auto;
    height: 50%;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/video.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;}
    .video-trigger {
        display: block;
        padding: 40px;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
    }
.award-banner {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../image/awards.jpg);
}

.newsletter-wrapper {
        width: 80%;
        margin: auto;

}
#newsletter-card {
    background-color: #2d2d2d;
}
.newsletter-icon {
    font-size: 50px; 
    font-weight: 100;
}

.newsletter-form {
    display: block;
    position: relative;
    width: 90%;
    margin: auto;
}
.newsletter-form > input {
    width: 80%;
    background: #ffffff;
}
.newsletter-form > button {
    color: white;
    width: 20%;

}
.newsletter-form > input, .newsletter-form > button {
    border: 0;
    outline: 0; 
    padding: 10px 15px;
    height: 40px;
}

.testimonial-icon {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    color: #2d2d2d;
    background: #ffffff;
    border-radius: 50%;
    margin: auto;
    margin-top: -25px;
}
.testimonial-slider > .testimonial{
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;     
}
.testimonial-slider > .testimonial:last-child {
    animation-delay: 0.2s;
}
.slider-btn {
    width: 25px;
    background: #dedede;
    height: 5px;
    margin-left: 15px; 
    float: left;}
    .slider-btn:hover {
        transition: 0.3s;
        background: #414345;
    }
.testimonial, .person-card { 
    background: #ffffff;
    padding-bottom: 25px; 
    -webkit-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);  
    }
.testimonial > p {
    text-align: justify;
    text-justify: inter-word;
    border-left: 5px solid #017cc2;;
    padding-left: 15px;
    width: 80%;
    margin: 15px auto;
}

.banner-frag {
    position: absolute;
    width: 35%;
    right: 20%;
    bottom: 0;
}
.person-card {
    display: block;
    margin: 20px auto;
    width: 100%;
    padding: 25px 30px;
    background: #ffffff;
    border-radius: 15px;
}
.person-pic {
    display: block;
    margin: 15px auto;
    width: 50%;
    background: #2d2d2d;
    border-radius: 50%;}
    .founder {
        
        background-image: url(../image/founder.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .career-body {
        display: block;
        position: relative;
        width: 100%;
        padding: 5%;
        min-height: 100vh;
    }
/* communication arts */

.com-arts {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/debate.jpg);
    height: 100vh;
}
.slanted {
    display: block;
    position: relative;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 50vh;
    transition: 0.5s;
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; } 
    .embed-container iframe, .embed-container object, 
    .embed-container embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }

.com-arts, .enrichment, .testbanner, .earlylearning, .classical, .counselling, .summercamp,
.summercamp-ph, .history-banner {
    height: 100vh;
}
.form {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;}
    .form::after {
        content: '';
        display: table;
        clear: both;
    }
    .form-input {
        display: block;
        position: relative;
        border: 1px solid #474545;
        border-radius: 5px;
        padding: 5px 15px;
        margin-bottom: 15px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 100%;
    }
    .form-button {
        width: 50%;
    }

/* enrichment */

.enrichment {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/enrichment.jpg);
}
/* test */
.testbanner {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/testbanner.jpg);
}
/* early learning */

.earlylearning {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/earlylearning.jpg);
}

/* classical */

.classical {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/classical.jpg);
    background-position: 20%;
}

.counselling {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/counsel.jpg);
}
.summercamp {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/camp.jpg);
}

.summercamp-ph {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/camb_back.jpg);
    background-position: top;
}

.history-banner {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../image/video.jpg);
}

.header-meta {
    position: relative;
    display: block;
    width: 100%;}
    .header-meta::after {
        content: '';
        display: table;
        clear: both;
    }
.language-link {
    background: #414345;
    color: #dedede !important;
    margin: 0 2px 0 0 !important;
}