.nav-wrapper {
    display: block;
    position: relative;
    width: 70%;
    margin: auto;
}
.navbar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    background: #ffffff;
    border-bottom-color: rgba(0,0,0,0.1);
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
    z-index: 5;
    } .navbar::after {
        content: "";
        display: table;
        clear: both;
    }
    .scrolled-nav {
        position: fixed;
        background: linear-gradient(to bottom(rgba(250, 250,250, 1.0), rgba(250, 250,250, 0.5) ));
        -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;     
    
    }

.nav-logo {
    position: relative;
    
    float: left;
    width: 100px;    
    background: #ffffff;
    padding: 2px;  
    margin: 19px 0; 
}

.links {
    float: right;
    padding: 5px 15px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #474545;
    transition: 0.3s;   
    margin: 19px 0; 
    z-index: 2;}
    .link-active {
            
        border: 1px solid #2d2d2d;
        border-radius: 5px;
    }
.links:hover {transition: 0.5s;}
.link {
    display: block;
    position: relative;
    color: #474545;
    text-decoration: none;
    margin-bottom: 15px;}
    .indented {
        border-left: 5px solid #017cc2;
        padding-left: 15px;
        margin-left: 15px;
    }
.dropdown {
    display: block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 320px;
    padding: 25px 25px;
    border-radius: 5px;
    z-index: 1;
    transition: 0.5s;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;     

  }

  .mobile-sidenav {
      position: absolute;
      display: none;
      right: 0;
      width: 320px;
      padding: 50px 25px;
      overflow: auto;
      background: #ffffff;
      z-index: 15;
      -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
      border-bottom: 1px solid #11111a;     
        }.mobile-sidenav > * {
            display: block;
        }   