<div class="mobile-sidenav">
        <a class="links un-float" onclick="sideNav(2);"><i class="fas fa-bars"></i></a>
        <a class="links un-float" href="../index.html">Home</a>
        <a class="links un-float" href="#!">Programs</a>
        
            <a class="links un-float indented" href="../pages/opus-communication-arts.html">Opus Communication Arts</a>
            <a class="links un-float indented" href="../pages/mcgraw-hill-education-courses.html">McGraw Hill Education Courses</a>
            <a class="links un-float indented" href="../pages/academic-enrichment.html">Opus Academic Subject Enrichment</a>
            <a class="links un-float indented" href="../pages/opus-test-preparation.html">Opus Standardized Test Preparation</a>
            <a class="links un-float indented" href="../pages/opus-early-learning.html">Opus Early Learning</a>
            <a class="links un-float indented" href="../pages/opus-classical-music.html">Opus Classical Music</a>
        
        <a class="links un-float" href="../pages/admission-counselling.html">Admission Counselling</a>
        <a class="links un-float" href="../pages/opus-summer-camps.html">Opus Summer</a>
        <a class="links un-float" href="#!">Standford Summer</a>
        <a class="links un-float" href="../pages/philippine-applicant.html">Philippine Applicants</a>
        <a class="links un-float" href="../pages/canadian-applicant.html">Canadian Applicants</a>

        
        <a class="links un-float" href="../pages/testimonials.html">Testimonials</a>
        <a class="links un-float" href="../pages/about-us.html">About us&emsp;<i class="fas fa-chevron-down"></i></a>
        <a class="links un-float indented" href="../pages/history-and-our-team.html">History and Our Team</a>
        <a class="links un-float indented" href="../pages/careers.html">Careers</a>
        <a class="links un-float indented" href="../pages/contact-us.html">Contact Us</a>

    </div>
    <div class="header-meta">
        <div class="nav-wrapper">
            <a class="links language-link" href="../pages/Opus-chinese/index.html">Chinese</a>
        </div>
    </div>
    <div class="navbar" id="pc">
        <div class="nav-wrapper">
            <img src="../image/logo.jpg" class="nav-logo"/>
            <a class="links" href="../pages/contact-us.html">Contact Us</i></a>
            
            <a class="links" href="../pages/testimonials.html">Testimonials</a>
            <div class="links dropdown">
                <a class="link" href="#!">About us&emsp;<i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a class="link" href="../pages/about-us.html">About Us</a>
                    <a class="link" href="../pages/history-and-our-team.html">History and Our Team</a>
                    <a class="link" href="../pages/careers.html">Careers</a>
                </div>
            </div>
            <div class="links dropdown">
                <a class="link" href="#!">Summer Programs&emsp;<i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a class="link" href="../pages/opus-summer-camps.html">Opus Summer</a>
                    <a class="link" href="#!">Standford Summer</a>
                    <a class="link indented" href="../pages/philippine-applicant.html">Philippine Applicants</a>
                    <a class="link indented" href="../pages/canadian-applicant.html">Canadian Applicants</a>
                </div>
            </div>
            <a class="links" href="../pages/admission-counselling.html">Admission Counselling</a>
            <div class="links dropdown">
                <a class="link" href="#!">Programs&emsp;<i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a class="link" href="../pages/opus-communication-arts.html">Opus Communication Arts</a>
                    <a class="link" href="../pages/mcgraw-hill-education-courses.html">McGraw Hill Education Courses</a>
                    <a class="link" href="../pages/academic-enrichment.html">Opus Academic Subject Enrichment</a>
                    <a class="link" href="../pages/opus-test-preparation.html">Opus Standardized Test Preparation</a>
                    <a class="link" href="../pages/opus-early-learning.html">Opus Early Learning</a>
                    <a class="link" href="../pages/opus-classical-music.html">Opus Classical Music</a>
                </div>
            </div>
            <a class="links" href="../index.html">Home</a>
        </div>
    </div>
    <div class="navbar" id="mobile">
        <div class="nav-wrapper">
            <img src="../image/logo.jpg" class="nav-logo"/>
            <a class="links" onclick="sideNav(1);"><i class="fas fa-bars"></i></a>
        </div>
    </div>