#mobile {
  display: none;
}

@media screen and (max-width: 1025px) {
    .page-wrapper{
        width: 80%;
    }    
    .nav-wrapper {
        width: 85%;
    }
    .dropdown-content {
      width: 200px;
    }
    .links {
      font-size: 9px;
    }
    .title, .tagline {
      font-size: 15px;
    }
    .nav-logo {
      width: 80px;
    }
}

@media screen and (max-width: 960px) { 
  #pc {display: none;}
  #mobile{display: block;}
  .nav-logo {
    width: 60px;
    margin: 0;
  }
  .tagline {
    font-size: 15px;
  }
  .title {
    font-size: 15px;
  }
  
  .yuyu {
    font-size: 10px;
  }
}
@media screen and (max-width: 769px) {
    
    .three-col, .four-col {
        display: block;
        position: relative;
        width: 47.7%;
        margin: 20px 1.15%;
        float: left;
    }   
    .about {
        margin-top: -90px;
    }
    .align-right {
        text-align: left;
    }
    .content-mobile-fix {
        width: 48%;
    }
    
    .content-mobile-fix-2 {
        width: 47%;
    }
    
    .gallery-item-two {
      flex: 100%;
      max-width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .three-col, .two-col, .four-col {
        display: block;
        position: relative;
        width: 95%;
        margin: 20px 2.5%;
        float: left;
    } 
    .about {
        margin-top: -90px;
    }
    .about-mobile-fix {
        margin-top: 0;
    }
    .nav-logo {
      width: 50px;
      margin: 0;
    }
    .yuyu {
      font-size: 10px;
    }
    .gallery-item-four {
      flex: 50%;
      max-width: 50%;
    }
}




 @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  } 
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  
  
  